/**
 * @file
 * Styling for HFC Division Website Nodes.
 */

.field-items li,
.field-items p,
.field-items ol {
  font-size: 1em;
}

/* flag bad content */
.correct {
  background-color: red;
  color: white;
  padding: 3px 30px
}

/* see https://dvc.hfcc.net/webadmin/issues/issue1197#comment-5673 */
div.workbench-info-block {
  background: #DFD;
  border-color: #ACA;
}

.workbench-info-block .label {
  font-weight: bold;
}

#content .bean-heading {
  float: right;
  padding-right: 1em;
}

.node-landing-page .field-name-field-content-blocks > .field-items > .field-item {
  margin: 0 0.51216389244558%;
  padding: 0 0.5em;
}

.node-landing-page .field-name-field-content-blocks > .field-items > .field-item h2 {
  border-bottom: 1px solid #CCC;
}

.node-landing-page .field-name-field-content-blocks > .field-items > .field-item > div {
  padding: 0;
}

/* Styles that go along with ac_helper module/ academic content types */

/* Program Nodes */

.node-type-program .bottom-margin,
.node-type-program .field-name-body,
.node-type-program .field-name-field-catalog-programs,
.node-type-program .group-programs {
  margin: 0 0 2em 0;
}

.featured-gray-block {
  background: #dedede;
  padding: 2em;
  overflow: auto;
}

.node-type-program .field-name-field-catalog-programs .field-item {
  border-top: 1px solid #ccc;
  padding: 1.5em 0;
  overflow: auto;
}
.node-type-program .field-name-field-catalog-programs .field-item:last-child {
  border-bottom: 1px solid #ccc;
}

/* Featured Artist and Faculty Nodes */

.field-name-field-person-photo img {
  width: 200px;
}

@media only screen and (min-width: 480px) {

  .node-landing-page .field-name-field-content-blocks > .field-items > .field-item {
    display: inline-block;
    vertical-align: top;
    width: 49%;
  }
}

@media only screen and (min-width: 720px) {

/* Styles that go along with ac_helper module/ academic content types */

  .program-link {
    float: left;
    max-width: 70%;
  }
  .degree-type {
    float: right;
    max-width: 30%;
  }
  .node-type-program .field-name-field-catalog-programs .field-item {
    clear: both;
  }
}

@media only screen and (min-width: 768px) {

  .node-landing-page .field-name-field-content-blocks > .field-items > .field-item {
    width: 32%;
  }
}
