/**
 * @file
 * Styling for HFC Division Websites Pages and Regions.
 */

#breadcrumb {
  display: none;
}

/* Search */

form#search-block-form {
  margin: 0.5em 0;
}

#search-block-form .form-submit {
  display: none;
}

.front #content-inner h1 {
  display: none;
}

/* Front Page Featured regions */

.front #featured-first {
  padding: 2em;
  background-color: #dedede;
}

.front #featured-second {
  padding: 2em;
}

@media only screen and (min-width: 720px) {

  .front #featured {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    padding: 0em 0 1em 0em;
  }
  .front #featured-first {
    width: 33.3333%;
  }

  .front #featured-second {
    width: 66.6666%;
  }
}
