/**
 * @file
 * Styling for HFC Division Websites Menus.
 */

ul li.leaf {
  list-style-image: none;
  list-style-type: none;
}

/* lists */
.tabs ul { /* reset margin on admin tabs */
  margin-left: 0;
}
